﻿@model MovieGallery.Models.MovieDetailsItem

@{
    ViewBag.ShowBackBar = true;
}
  

<h2>@Model.title</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
              
                <h5><a href="http://www.imdb.com/title/@Model.imdb_id" alt="IMDB" target="_blank">IMDB</a></h5>
                <h5><label>Language:&nbsp;</label> @Model.original_language</h5>
                <h5><label>Release date:&nbsp;</label>@(Model.release_date)</h5>
                <h5>Languages:</h5>
                <div>
                    <ul>
                        @foreach (var spokenLanguage in Model.spoken_languages)
                        {
                            <li>@spokenLanguage.name</li>
                        }
                    </ul>
                </div>
            </div>
            <h5>Description:</h5>
            <div>@Html.Raw(Model.overview)</div>
        </div>
        <div class="col-md-6">
            <img src="http://image.tmdb.org/t/p/w185/@Model.poster_path"
                 alt="@Model.title" class="img-responsive"/>
        </div>
    </div>


