@using MovieGallery.Models;
@using MovieGallery.Models.ViewModels;

@model  SearchMovieViewModel<MovieSearchItems>
@{
    ViewBag.Title = "LookUpMovie";
    ViewBag.ShowBackBar = true;
    

}

        <h2>Search For Movie</h2>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("LookUpMovie", "MovieGallery", FormMethod.Post))
            {
                <div class="well">
                    <h4>Search:</h4>
                    <input type="text" id="movieToFind" name="movieToFind"/>
                    <input class="btn-submit" type="submit" id="submitId" value="Submit" />
                    @if(ViewBag.SearchKey != null)
                    {
                        <span>
                            Search Key: @ViewBag.SearchKey +"..."
                        </span>
                    }
                </div>
            }
            @if (Model != null)
            {
            
                <h2>@(Model.MovieItems?.Length.ToString() ?? "0") hits </h2>

                if (Model.MovieItems != null)
                {
                    foreach (var movie in Model.MovieItems)
                    {
                        <div class="row row-space">
                            <div class="col-md-3">
                                <img src="http://image.tmdb.org/t/p/w185/@movie.poster_path"
                                     alt="@movie.title" class="poster img-responsive"/>
                            </div>
                            <div class="col-md-9">
                                <div class="well">

                                    <h5><label>Movie Title:&nbsp;</label>@movie.title</h5>
                                    <h5><label>Genre:&nbsp;</label>@String.Join(", ", movie.GenreStrings)</h5>
                                    <h5><label>Release Date:&nbsp;</label> @movie.release_date</h5>
                                    <h5><label>Popularity:&nbsp;</label>@movie.popularity</h5>
                                    <h5><label>Vote Average:&nbsp;</label>@movie.vote_average</h5>


                                </div>
                                <h4>Description</h4>
                                <div>@movie.overview</div>
                            </div>

                        </div>
                    }
                }
            }

        </div>
    </div>

