body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
img{
    padding: 0px 10px 20px 0px;
}
.btn-submit{width: 91px;height: 37px;border-radius: 0px;}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 309px;
    width: 300px;
    height: 35px;
    border-radius: 2px;
}

/* Backbar Styles */
.backbar{
  width: 100%;
  background-color: #555;
  margin-top: -10px;
  height: 55px;
  padding-top: 5px;
}
  .backbar .btn{
    margin-top: 4px;
  }

/* Series List Styles */
.series-list{
  padding: 0;
}

.series-list li{
  list-style: none;
  border-bottom: 1px #ddd solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
  }

.series-list li:last-child{
  border: none;
}
.well {
    padding-bottom: 40px;
}



#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}
 
.search-query:focus + button {
    z-index: 3;   
}
input[type=text] {
    border-radius: 0;
    height: 40px;
    font-size: 14px;
    box-shadow: none;
    line-height: 100%;
    padding: 5px;
}
.row-space{ margin-top: 30px;}
